<head>
  <div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Recipoints.com</title>
    <h1>RECIPOINTS</h1>
    <a href="{% url 'bares_rota' %}" class="btn btn-primary">Bares</a>
    <a href="{% url 'comidas_rota' %}" class="btn btn-primary">Comidas</a>
    <a href="{% url 'cinemas_rota' %}" class="btn btn-primary">Cinemas</a>
    <a href="{% url 'lazer_rota' %}" class="btn btn-primary">Lazer</a>
    <a href="{% url 'praias_rota' %}" class="btn btn-primary">Praias</a>
    <a href="{% url 'turismo_rota' %}" class="btn btn-primary"> Turismo</a>
  </div> 
  </head>
